@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

:root {
    --backgroundPrimary: #0E1015;
    --backgroundSecundary: #181A20;
    --textSecundary: #30CA9F;
    --text: #E2E4E9;
    --degradatePrimary: #FF1436;
    --degradatePrimaryHover: #cf0f2b;
    --degradateSecundary:#F71260;
    --degradateSecundaryHover:#cc0e4d;
    --box: #353940;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto';
    color: var(--text);
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    position: fixed;
    top: 0;
    padding: 0 64px;
    border-bottom: 1px solid var(--box);
    background: var(--backgroundPrimary);
}

.logo {
    height: 44px;
}

.logoText {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.titulo {
    font-size: 24px;
}

.navbar ,
.navbarList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navbarList a {
    font-size: 18px;
}

.navbarList li {
    position: relative;
}

.navbarList li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background: linear-gradient(90deg, var(--degradatePrimary) 0%, var(--degradateSecundary) 100%);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .4s ease-in-out;
}

.navbarList li:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.cartIcon {
    padding: 8px 20px;
    border-radius: 12px;
    height: 32px;
    cursor: pointer;
}

#menuToggle, .menuLabel{
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--backgroundPrimary);
}

#landing {
    margin-top: 90px;
    padding:  160px 0;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 40px;
}

.landingInfo {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 50%;
}

.landingInfoBtn {
    display: flex;
    gap: 12px;
}

.landingInfo h1 {
    font-size: 48px;
    font-weight: bold;
    background: -webkit-linear-gradient(var(--degradatePrimary), var(--degradateSecundary));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

.landingInfo p {
    width: 90%;
    line-height: 2;
}

.landingInfo p > span {
    font-weight: bold;
}

.landingInfo a {
    background: linear-gradient(90deg, var(--degradatePrimary) 0%, var(--degradateSecundary) 100%);
    width: 160px;
    padding: 12px 8px;
    border-radius: 12px;
    font-weight: bold;
    display: flex;
    transition: .5s ease-in-out;
}

.landingInfo a:hover{
    background: linear-gradient(90deg, var(--degradatePrimaryHover) 0%, var(--degradateSecundaryHover) 100%);
    transition: .5s ease-in-out;
}

.landingInfo a>p {
    display: flex;
    align-self: center;
    justify-content: flex-start;
}

.cardImg {
    width: 280px;
    height: 280px;
    border-radius: 16px;
}
.landingCard {
    width: 320px;
    background: var(--backgroundSecundary);
    padding: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.landingCard:hover{
    transition: .3s ease-in-out;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.4);
}

.landingCardInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.landingCardTop {
    display: flex;
    justify-content: space-between;
}

.landingCardTop h3 {
    font-weight: 800;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.landingCardTop span {
    background-color: var(--box);
    color: var(--textSecundary);
    font-weight: bold;
    text-align: center;
    width: 76px;
    padding: 4px 0;
    border-radius: 8px;
}

.landingCardBottom {
    display: flex;
    justify-content: space-between;
}

.landingCardArtist {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: left;
}

.landingCardInfo p:first-child {
    color: var(--textSecundary);
    font-size: 18px;
    font-weight: bold;
}

.landingCardPrice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 4px;
}
.landingCardPrice p:last-child {
    font-weight: bold;
}

#moreInfo {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    width: 90%;
    padding-bottom: 120px;
}

.subTitle {
    font-size: 48px;
    font-weight: bold;
    background: -webkit-linear-gradient(var(--degradatePrimary), var(--degradateSecundary));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

.description {
    line-height: 2;
    text-align: center;
    font-size: 18px;
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
}

.boxDetail {
    display: flex;
    align-items: center;
    width: 280px;
    gap: 8px;
    background-color: var(--backgroundSecundary);
    padding: 20px;
    border-radius: 16px;
    margin: 4px 0
}

.boxDetailText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.boxDetailText h3 {
    color: var(--textSecundary)
}

.descriptionBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.descriptionBoxContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
}

.descriptionBoxContainer h2 {
    color: var(--textSecundary);
    font-size: 48px;
}

.containerSubOffers h3 {
    font-size: 18px;
}

.containerSubOffers p {
    padding: 12px 32px;
}

.btnDescription {
    background-color: var(--backgroundPrimary);
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.btnDescription:hover{
    transition: .3s ease-in-out;
    font-size: 20px;
}

.btnDescription p {
    padding: 8px 4px;
}

.dividerVertical {
    border-left: 1px solid var(--text);
    border-radius: 100%;
}

#lastestAlbum {
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    text-align: center;
    max-width: 1200px;
    width: 100%;
    padding-bottom: 80px;
}

.detailsAlbums {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--backgroundPrimary);
    border-top: 1px solid var(--box);
}

footer h4 {
    width: 100%;
    text-align: center;
    border-top: 1px solid var(--box);
    margin-top: 40px;
    padding: 12px 0;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 1200px;
    padding-top: 40px ;
}

.containerBoxFooter{
    width: 30%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.containerBoxFooter h3 {
    font-size: 24px;
    background: -webkit-linear-gradient(var(--degradatePrimary), var(--degradateSecundary));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

.listFooter {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.listFooter li {
    display: flex;
    gap: 8px;
    align-items: center;
}

.socialMedia span {
    cursor: pointer;
    transition: .2s ease-in-out;
}

.socialMedia span:hover {
    color: var(--textSecundary);
    transition: .2s ease-in-out;
}

.inputBtn {
    display: flex;
    height: 40px;
}

.inputBtn input {
    border: none;
    width: 60%;
    background-color: var(--box);
    color: #fff;
    padding: 0 12px;
    border-radius: 12px 0 0 12px;
}

.inputBtn button:hover {
    background-color: #24a27e;
    transition: .2s ease-in-out;
}

.inputBtn input:focus {
    outline: none;
}

.inputBtn button {
    background: var(--textSecundary);
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
    min-width: 40px;
    border-radius: 0 12px 12px 0;
    transition: .2s ease-in-out;
}
